body {
    color: white;
    background-color: rgb(10, 69, 163);
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

header img {
    width: 300px;
    height: 300px;
    border-radius: 20%;
    border: 5px solid #1b24c3;
}

.center {
    text-align: center;
}

h1 {
    color: #ffffff;
}

footer img {
    width: 40px;
    height: 40px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 2px;
}

.container {
    padding: 0px 50px;
}

nav a {
    font-size: 20px;
}

nav a:hover {
    color: #120c8d;
}

.contact-form input {
    width: 100%;
    padding: 8px 0;
    margin: 8px 0;
}

.contact-form input[type=text] {
    height: 100px;
}

button {
    color: rgb(12, 15, 155);
    background-color: white;
    border: none;
    width: 100px;
    height: 30px;
}